<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I just wanna curtir</title>
</head>

<body>
  <h1> <%= isConnected ? 'CONECTADO' : 'DESCONECTADO' %> </h1>
  <% if (!isConnected) { %>
    <img src="<%= `${qrCode}` %>" alt="qr" id="qrcode" style="width: 250px;">
    <% } else { %>
  <% } %>
  <button>Fire!</button>
</body>
<script defer type="module">
  import { io } from "https://cdn.socket.io/4.7.5/socket.io.esm.min.js";
  const socket = io('ws://localhost:8080');


  const qrImg = document.getElementById("qrcode")

  document.querySelector("button").onclick = () => {
    console.log('says hi')
    socket.emit('message', 'Hi!')
  }

  socket.on('update.qr', content => {
    qrImg.setAttribute("src", content)
  })
  
</script>
</html>